#gaddarpic {
  height: 200px;
  width: auto;
  border-radius: 9px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#spacer-gaddar {
  height: 50px;
}

#gaddar-txt {
  padding: 0px 30px;
  text-align: justify;
}

#gaddar-name {
  margin-bottom: 5px;
}

#adminvdo {
  height: 500px;
}

#adminvdo-filter {

  height: 500px;
}

.just {
  text-align: justify;
}

#leader-words-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  #leader-words {
    display: none;
  }
}
@media only screen and (max-width: 799px) {
  #leader-words-mobile {
    display: block;
  }
}

